<ion-view view-title="answers">
here
  <ion-content>
    <ion-list>
    here
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="answer in answers" type="item-text-wrap" href="#/answer/{{answer.id}}">
<!--         <img ng-src="{{chat.face}}"> -->
        <h2>{{answer.text}}</h2>
        <p>{{answer.time}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="voteFor(answer)">
          Approve
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="voteAgainst(answer)">
          Dissapprove
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>